*{
    margin: 0;
    padding: 0;
    font-style:bold;
    color:#fff;
}

body{
    background-color:#9e9ee9;
    text-align: center;

}

.container{
    height: 70vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}


.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3) ;
    font-size: 8vmin;
    color: black;
    background-color:blueviolet;
}
#reset-btn{
    padding: 1rem;
    font: size 1.25rem; ;
    background-color: blueviolet;
    color:#fff;
    border-radius: 1 rem;
    border: none ;
    border-radius: 10px;
}
#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: blueviolet;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }

  body {
    background-image: url(https://cdn6.aptoide.com/imgs/e/d/d/edd2e956e83165a678700c541a8b68ef_screen.png);
    background-size: cover; /* This property ensures that the background image covers the entire container */
    background-position: center; /* This property centers the background image */
    background-repeat: no-repeat; /* This property prevents the background image from repeating */
  }
  
